services:
  credo-reverse:
    build:
      context: ../reverse-proxy
    ports:
      - 4321:4321
    volumes:
      - credo_caddy_data:/data
  credo-frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
      args:
        - NODE_ENV=production
        - AUTH_SECRET="q032tBuduPbkimbbtLB1TN1iR4RdMkqwDkJa6EtZ7Xg="
        - AUTH_TRUST_HOST=true
        - AUTH_URL=http://hibbi.hpc4ai.unito.it:7073
        - BASE_DIR=/app/workspaces
        - PASSWD_FILE=/app/passwords/passwd.csv
        - DOCKER_SOCKET=/var/run/docker.sock
        - CONTAINER_NAME=credo-builder:latest
    environment:
      - NODE_ENV=production
      - AUTH_SECRET="q032tBuduPbkimbbtLB1TN1iR4RdMkqwDkJa6EtZ7Xg="
      - AUTH_TRUST_HOST=true
      - AUTH_URL=http://hibbi.hpc4ai.unito.it:7073
      - BASE_DIR=/app/workspaces
      - PASSWD_FILE=/app/passwords/passwd.csv
      - DOCKER_SOCKET=/var/run/docker.sock
      - CONTAINER_NAME=credo-builder:latest
    volumes:
      - ./data/workspaces:/app/workspaces
      - /var/run/docker.sock:/var/run/docker.sock
      - ./passwords:/app/passwords:ro
    depends_on:
      - runner
    restart: unless-stopped

  credo-admin:
    build:
      context: ../admin
      dockerfile: Dockerfile
    environment:
      - BASE_DIR=/app/workspaces
    volumes:
      - ./data/workspaces:/app/workspaces
    restart: unless-stopped

  credo-runner:
    build:
      context: ../runner
      dockerfile: Dockerfile
    image: credo-builder:latest
    restart: no

volumes:
  data_workspaces:
    driver: local
  credo_caddy_data:
    driver: local
